


            <%= form_for(@artist) do |f| %>
                <div class="field row" style="margin-top: 20px;">
                    <%= f.label :アーティスト名 %>
                    <%= f.text_field :artist_name, class:"col-xs-12 book_title" %>
                </div>

<!-- productのフォーム 始まり-->
                <div class="product">
                    <%= f.fields_for :products do |product| %>
                        <%= render 'product_fields', f: product %>
                    <% end %>
                </div>
<!-- productのフォーム 終わり-->



            <% end %>
