<div class='container'>
<div class='row'>

            <div class="col-md-8 col-md-offset-2" style="text-align: center;">
                <div class="review_button" style="width: 100%; margin: 30px;">
                    <%= link_to "アーティスト追加", new_artist_path, class:"btn-warning btn-lg" %>
                </div>
            </div>

    <div class='col-md-8 col-md-offset-2'>
        <h2>artists</h2>
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 100px;">No.</th>
                    <th>アーティスト名</th>
                    <th>id</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @artists.each.with_index(1)  do |artist, i| %>
                    <tr>
                        <td><%= i %></td>
                        <td>
                            <%= link_to artist_path(artist.id), class:"user_#{artist.id}" do %>
                                <%= artist.artist_name %>
                            <% end %>
                        </td>
                        <td><%= artist.id %></td>
                        <td>
                            <%= link_to "Destroy", artist_path(artist.id), class:"btn-mg btn-danger destroy_artist_#{artist.id}", method: :delete %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
            <div class="col-md-8 col-md-offset-2" style="text-align: center;">
                <div class="review_button" style="width: 100%; margin: 30px;">
                    <%= link_to "アーティスト追加", new_artist_path, class:"btn-warning btn-lg" %>
                </div>
            </div>
</div>
</div>
