<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<%= render 'top/search',search: @search ,result: @result ,artists: @artists %>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<%= render 'top/sidebar',categories: @categories %>
		</div>
		<section class="col-lg-9">
			<h1><%= @artist.artist_name %>の商品一覧</h1>
				<% @products.each do |product| %>
					<div class="inline-block">
						<div class="col-lg-4">
							<div class="jacket-image">
								<%#= limk_to attachment_image_tag product.image_id, product_path(product.id) :image, fallback: "no_image.jpg", size: "100x100" %>
							</div>
							<div>
								<%= link_to product.title, product_path(product.id) %>
								<p>/</p>
								<%= link_to product.artist.artist_name, artist_path(product.artist.id) %>
							</div>
						</div>
					</div>
				<% end %>
			<%= paginate @products %>
		</section>
	</div>
</div>
