<h1>Admins#show</h1>
<style>

.container{
    border: 1px solid #000000;
    }
    
    
.col-md-6{
    border: 1px solid #000000;
    }

h1{
    font-size: 40px;
}

.p_news{
    font-size: 40px;
    position: relative;
    left: 90px;
}

/*position:absolute;*/
/*top:---px;　（上から～ピクセル）*/
/*left:---px;　（左から～ピクセル）*/
/*bottom:---px;　（下から～ピクセル）*/
/*right:---px;　（右から～ピクセル）*/

/*static	通常の位置に配置（デフォルト）*/
/*relative	通常の位置を基準とした相対位置*/
/*absolute	static以外を指定された親要素を基準とした絶対位置*/
/*fixed*/

.p_a{
    text-align: center;
}

.btnbtnbtn{
    font-size: 30px;
}

textarea{
        width: 800px;
        height: 40px;
    }



</style>

<div class="container">
    
    <div class="row">
    <br>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <%= link_to '商品追加', admin_path, class: 'btn btn-primary btn-lg' %>
        </div>
        <div class="col-md-9"></div>
    </div>

    <br>

    <div class="row">
        <p class="p_news">NEWS投稿</p>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <%= form_for @news,url: news_index_path  do |n| %>
            <%= n.text_area :body %>
            <%= n.submit "投稿 ⇧", class:"btnbtnbtn" %>
            <% end %>
        </div>
        <div class="col-md-1"></div>
        
    </div>

    <br>

    <br>
    
    <div class="row">
        <div class="col-md-6">
            
            <p class="p_a">ユーザー一覧(10件表示)</p>
            <br>
            <% @all_user.each do |u| %>
                <div>
                氏名：<%= u.last_name %>
                      <%= u.first_name %>
                  ID：<%= u.id %>
                </div>
            <% end %>
            <br>
        </div>
        <div class="col-md-6">
            <p class="p_a">商品一覧(10件表示)</p>
            <br>
            <% @all_product.each do |p| %>
                <div>
                            商品名：<%= p.title %>
                    アーティスト名：<%= p.artist_id %>
                            商品ID：<%= p.id %>
                </div>
            <% end %>
            <br>
        </div>
        
    </div>
</div>
    