
<div class="container">
    
    <div class="row">
        <p style="font-size:40px;">NEWS投稿</p>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <%= form_for @news,url: news_index_path  do |n| %>
            <%= n.text_area :body, :size => "80x3" %>
            <%= n.submit "投稿 ⇧", :class => "btn" %>
            <% end %>
        </div>
        <div class="col-md-1"></div>

    </div>

    <br>

    <br>

    <div class="row">
        <div class="col-md-6">


            <p class="p_a">ユーザー一覧(10件表示)</p>
            <br>
            <% @all_user.each do |user| %>
            <%= link_to user_show_path(user) do %>
                <div>
                    <h4>ID:<%= user.id %>　氏名：<%= user.last_name %> <%= user.first_name %></h4>
                </div>
            <% end %>
                 <%= link_to "編集", edit_admin_path(user), class:"btn btn-primary btn-sm" %>
                 <%= link_to "削除", user_path(user), :method => :delete, "data-confirm" => "後悔しませんか？", class:"btn btn-danger btn-sm" %>
            <% end %>
            <%= paginate @all_user, class: "paginate" %>
            </div>
        </div>
        </div>
        <div class="col-md-6">

            <p class="p_a">商品一覧(10件表示)</p>
            <br>
            <% @all_product.each do |product| %>
            <%= link_to product_path(product.id) do %>
                <div>
                            商品名：<%= product.title %>
                    アーティスト名：<%= product.artist_id %>
                            商品ID：<%= product.id %>

                </div>
                <% end %>
            <% end %>
            </div>
            <%= paginate @all_product, class: "paginate" %>
            <br>
        </div>

    </div>
</div>
