<div class="well well-lg">
 	<div style="padding-left:20px;">
		<h1>登録情報一覧</h1>
		<nav style="padding-right: 2%;">
        <nav>
          <%= link_to "退会", user_path(current_user), :method => :delete, "data-confirm" => "後悔しませんか？",class:"nav navbar-nav navbar-right btn btn-danger btn-lg col-sm-2" %>
        </nav>
        <nav>
          <%= link_to "編集", edit_user_path(current_user), class:"nav navbar-nav navbar-right btn btn-info btn-lg col-sm-2" %>
        </nav>
    </nav>
    <nav style="padding-right: 6%;">
        <br>
        <br>
        <br>
          <%= link_to "　パスワード変更", new_user_password_url, class:"nav navbar-nav navbar-right btn btn-default btn-sm col-md-3"%>
   	</nav>
		<div>
	 		<p>郵便番号　〒<%= current_user.post_code %></p>
	  		<p>住所　　　<%= current_user.address %></p>
	  		<p>氏名　　　<%= current_user.last_name %><%= current_user.first_name %></p>
	  		<p>　　　　　<%= current_user.last_name_kana %><%= current_user.first_name_kana %></p>
	  		<p>電話番号　<%= current_user.tel %></p>
	  		<p>メールアドレス　<%= current_user.email %></p>
		</div>
  	</div>
</div>



<div class="well well-lg">
	<div style="padding-left:60px;">
		<h1>購入履歴</h1>
    <% @carts.each do |cart| %>
    <table class="table" style="border-style: groove; width: 77%;">
      <tr >
        <th>購入日</th>
        <th>2018/11/11</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr style="border-top-style: double;">
        <th>購入内容</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>　商品名</th>
          <td>てすと</td>
        <th>アーティスト名</th>
          <td>テストアーティスト</td>
        <th>購入枚数</th>
          <td>1枚</td>
      </tr>
      <tr>
        <th>　小計</th>
          <td>200円</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr style="border-top-style: double;">
        <th>合計金額</th>
          <td>200円</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr>
        <th>送付先</th>
          <td>東京都渋谷</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr>
        <th>ステータス</th>
          <td>未配送</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
    </table>
   <% end %>
	</div>
</div>