<div class="well well-lg">
 	<div style="padding-left:20px;">
		<h1>登録情報一覧</h1>
		<nav style="padding-right: 10%;">
          <li class="nav navbar-nav navbar-right btn btn-danger btn-lg", style="padding: 10px;">
            <%= link_to "退会" %>
          </li>
          <li class="nav navbar-nav navbar-right btn btn-info btn-lg", style="padding: 10px;">
            <%= link_to "編集", edit_user_path(@user) %>
          </li>
        </nav>
        <nav style="padding-right: 9%;">
          <br>
          <br>
          <br>
          <li class="nav navbar-nav navbar-right btn btn-default btn-lg", style="padding: 5px;">
            <%= link_to "パスワード変更", new_user_password_url%>
          </li>
   		</nav>
		<div>
	 		<p>郵便番号　〒<%= @user.post_code %></p>
	  		<p>住所　　　<%= @user.address %></p>
	  		<p>氏名　　　<%= @user.last_name %><%= @user.first_name %></p>
	  		<p>　　　　　<%= @user.last_name_kana %><%= @user.first_name_kana %></p>
	  		<p>電話番号　<%= @user.tel %></p>
	  		<p>メールアドレス　<%= @user.email %></p>
		</div>
  	</div>
</div>



<div class="well well-lg">
	<div style="padding-left:20px;">
		<h1>購入履歴</h1>
	</div>
</div>