<%= "＃{@user.name}さんの買い物かご" %>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% sum = 0 %>
					<% @cart.cart_items.each do |cart.cart_item| %>
					<tr>
						<td><%= attachment_image_tag cart.cart_item, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></td>
						<td><%= cart.cart_item.title %>
							<%= cart.cart_item.artist.name %>
						</td>
						<td><%= cart.cart_item.price %></td>
						<td><% form_for @product do |f| %>
    						<%= f.label :stock, "数量選択" %>
   							<%= f.select :stock, @current_stock_array %>
							<% end %>
						</td>
						<td><%= link_to "削除", cart_path, class: "btn btn-default active" %></td>
					</tr>
					<% end %>
				</tbody>
 				<% sum += cart.cart_item.price * cart_items.quantity %>
				<%= "合計" + sum + "円" %>
			</table>
		</div>
		<div class="row">
			<div class="col-lg-2 col-lg-offset-5">
				<%= link_to "戻る", products_path, class: "btn btn-default active" %>
				<%= link_to "購入へ進む", new_order_path, class: "btn btn-default active" %>
			</div>
		</div>
	</div>
</div>
