<div class='container'>
<div class='row'>

	<div class="search_form">
		<!-- 検索フォーム -->
	</div>

    <div class='col-lg-3' style="margin-top: 150px; margin-bottom: 150px">
    	<!-- カテゴリー一覧 -->
    	<!-- ランキング -->
    </div>

    <div class='col-lg-9' style="margin-top: 150px; margin-bottom: 150px">

<!-- 検索結果 -->
    <h1 style="margin-top: 10px; margin-bottom: 30px;">検索結果</h1>

        <div class="disc_list row" style="margin-top: 20px; border-top: 5px solid #333333;">
            <div class='jacket_image_index' style="width: 100%;">
	            <div class="jacket_image_box" style="margin: 20px 2%;">
		            <div class="jacket_image" style="width: 250px; height: 250px; background-color: lightblue;">
		            	<div class="jacket_image_text" style="width: 100%; margin: 0 auto; text-align: center; padding-top: 120px" >
		            	    ジャケット画像
		            	</div>
		            </div>
                    <%= link_to "http://localhost:3000/products/show", class:"" do %>
        	            <div class="field row" style="width: 100%; margin: 20px 1%; text-align: center">商品名/アーティスト</div>
        	        <% end %>
	            </div>
	            <div class="jacket_image_box" style="margin: 20px 2%;">
		            <div class="jacket_image" style="width: 250px; height: 250px; background-color: lightblue;">
		            	<div class="jacket_image_text" style="width: 100%; margin: 0 auto; text-align: center; padding-top: 120px" >
		            	    ジャケット画像
		            	</div>
		            </div>
                    <%= link_to "http://localhost:3000/products/show", class:"" do %>
        	            <div class="field row" style="width: 100%; margin: 20px 1%; text-align: center">商品名/アーティスト</div>
        	        <% end %>	            </div>
	            <div class="jacket_image_box" style="margin: 20px 2%;">
		            <div class="jacket_image" style="width: 250px; height: 250px; background-color: lightblue;">
		            	<div class="jacket_image_text" style="width: 100%; margin: 0 auto; text-align: center; padding-top: 120px" >
		            	    ジャケット画像
		            	</div>
		            </div>
                    <%= link_to "http://localhost:3000/products/show", class:"" do %>
        	            <div class="field row" style="width: 100%; margin: 20px 1%; text-align: center">商品名/アーティスト</div>
        	        <% end %>	            </div>
	            <div class="jacket_image_box" style="margin: 20px 2%;">
		            <div class="jacket_image" style="width: 250px; height: 250px; background-color: lightblue;">
		            	<div class="jacket_image_text" style="width: 100%; margin: 0 auto; text-align: center; padding-top: 120px" >
		            	    ジャケット画像
		            	</div>
		            </div>
                    <%= link_to "http://localhost:3000/products/show", class:"" do %>
        	            <div class="field row" style="width: 100%; margin: 20px 1%; text-align: center">商品名/アーティスト</div>
        	        <% end %>	            </div>
	            <div class="jacket_image_box" style="margin: 20px 2%;">
		            <div class="jacket_image" style="width: 250px; height: 250px; background-color: lightblue;">
		            	<div class="jacket_image_text" style="width: 100%; margin: 0 auto; text-align: center; padding-top: 120px" >
		            	    ジャケット画像
		            	</div>
		            </div>
                    <%= link_to "http://localhost:3000/products/show", class:"" do %>
        	            <div class="field row" style="width: 100%; margin: 20px 1%; text-align: center">商品名/アーティスト</div>
        	        <% end %>	            </div>
	            <div class="jacket_image_box" style="margin: 20px 2%;">
		            <div class="jacket_image" style="width: 250px; height: 250px; background-color: lightblue;">
		            	<div class="jacket_image_text" style="width: 100%; margin: 0 auto; text-align: center; padding-top: 120px" >
		            	    ジャケット画像
		            	</div>
		            </div>
                    <%= link_to "http://localhost:3000/products/show", class:"" do %>
        	            <div class="field row" style="width: 100%; margin: 20px 1%; text-align: center">商品名/アーティスト</div>
        	        <% end %>	            </div>
	            <div class="jacket_image_box" style="margin: 20px 2%;">
		            <div class="jacket_image" style="width: 250px; height: 250px; background-color: lightblue;">
		            	<div class="jacket_image_text" style="width: 100%; margin: 0 auto; text-align: center; padding-top: 120px" >
		            	    ジャケット画像
		            	</div>
		            </div>
                    <%= link_to "http://localhost:3000/products/show", class:"" do %>
        	            <div class="field row" style="width: 100%; margin: 20px 1%; text-align: center">商品名/アーティスト</div>
        	        <% end %>	            </div>
	            <div class="jacket_image_box" style="margin: 20px 2%;">
		            <div class="jacket_image" style="width: 250px; height: 250px; background-color: lightblue;">
		            	<div class="jacket_image_text" style="width: 100%; margin: 0 auto; text-align: center; padding-top: 120px" >
		            	    ジャケット画像
		            	</div>
		            </div>
                    <%= link_to "http://localhost:3000/products/show", class:"" do %>
        	            <div class="field row" style="width: 100%; margin: 20px 1%; text-align: center">商品名/アーティスト</div>
        	        <% end %>	            </div>
	            <div class="jacket_image_box" style="margin: 20px 2%;">
		            <div class="jacket_image" style="width: 250px; height: 250px; background-color: lightblue;">
		            	<div class="jacket_image_text" style="width: 100%; margin: 0 auto; text-align: center; padding-top: 120px" >
		            	    ジャケット画像
		            	</div>
		            </div>
                    <%= link_to "http://localhost:3000/products/show", class:"" do %>
        	            <div class="field row" style="width: 100%; margin: 20px 1%; text-align: center">商品名/アーティスト</div>
        	        <% end %>
        	    </div>
            </div>
            <style>
            .jacket_image_index{
				  display: flex;
				  /* 横並びに表示する */
				  flex-direction: row;
				  /* 画面幅に収まらない場合は折り返す */
				  flex-wrap: wrap;
            }
            </style>

        </div>

<!-- ページャ -->
		<div class="pager">
		    <ul>
		        <li><a href="#">prev</a></li>
		        <li><a href="#">1</a></li>
		        <li><a href="#">2</a></li>
		        <li><a href="#">3</a></li>
		        <li><a href="#">4</a></li>
		        <li><span>...</span></li>
		        <li><a href="#">123</a></li>
		        <li><a href="#">next</a></li>
		    </ul>
		</div>

    </div>
</div>
</div>
