<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<%= render 'top/search',search: @search ,result: @result ,artists: @artists %>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<%= render 'top/sidebar',categories: @categories %>
		</div>
		<section class="col-lg-9">
			<h1><%= @category.category_name %></h1>
				<% @products.each do |product| %>
					<div class="inline-block">
						<div class="col-lg-4">
							<div class="jacket-image">
								<%#= product.image %>
							</div>
							<div>
								<%= product.title %>
								<p>/</p>
								<%= product.artist.artist_name %>
							</div>
						</div>
					</div>
				<% end %>
			<%= paginate @products %>
		</section>
	</div>
</div>

