

<!-- discのフォーム 始まり -->
<div class="nested-fields well well-compact">
    <div class="form-group">
        <%= f.label :DISC名 %><br>
        <%= f.text_field :disc_name, :size=>"70", :placeholder => "DISC名を入力して下さい", class:"" %><br>
        <div class="links">
          <%= link_to_remove_association "DISCを削除", f, class: 'btn btn-danger', role: 'button'  %>
        </div>
    </div>

<!-- discのフォーム 始まり -->
    <div class="songs">
          <%= f.fields_for :songs do |song| %>
              <%= render 'song_fields', f: song %>
          <%end%>
    <div class="links">
<!-- discのフォーム 終わり -->

          <%= link_to_add_association "曲を追加", f, :songs, class: 'btn btn-primary', role: 'button'  %>
      </div>
    </div>
</div>
<!-- discのフォーム 終わり -->
