<div class='container'>
<div class='row'>

    <div class='col-md-8 col-md-offset-2' style="margin-top: 50px; margin-bottom: 150px">
    <h1 style="margin-top: 10px; margin-bottom: 30px; text-align: center;">管理者ページ　商品を編集</h1>

        <div class="form_list row" style="margin-top: 30px; margin-bottom: 30px; border-top: 1px solid #333333;"></div>

<!-- productのフォーム 始まり-->
        <%= form_for(@product) do |f| %>

            <div class="field row" style="margin-top: 20px;">
                <%= f.label :アーティスト名 %><br>
                <%= f.collection_select :artist_id, Artist.all, :id, :artist_name, :include_blank => true %>
            </div>


            <div class="field row" style="margin-top: 20px;">
                <%= f.label :カテゴリー名 %><br>
                <%= f.collection_select :category_id, Category.all, :id, :category_name, :include_blank => true %>
            </div>

            <div class="field row" style="margin-top: 20px;">
                <%= f.label :商品名 %>
                <%= f.text_field :title, class:"col-xs-12 book_title" %>
            </div>

            <div class="field row" style="margin-top: 20px;">
                <%= f.label :ジャケット画像 %>
                <%= f.attachment_field :image, class:"user_image" %>
            </div>

            <div class="field row" style="margin-top: 20px;">
                <%= f.label :レーベル %>
                <%= f.text_field :label, class:"col-xs-12 book_body" %>
            </div>

        <div class="disc_list row" style="margin-top: 30px; margin-bottom: 30px; border-top: 1px solid #333333;"></div>




<!--  -->
            <div class="disc">
            <h3>DISCリスト</h3>
                <div id="discs">
                    <%= f.fields_for :discs do |disc| %>
                        <%= render 'disc_fields', f: disc %>
                    <% end %>
                    <div id="links">
                         <%= link_to_add_association 'DISCを追加',f, :discs, class: 'btn btn-primary', role: 'button'  %>
                    </div>
                </div>

            </div>
<!--  -->



        <div class="disc_list row" style="margin-top: 30px; margin-bottom: 30px; border-top: 1px solid #333333;"></div>


            <div class="col-md-4 field row" style="margin-top: 20px;">
                <%= f.label :価格 %>
                <%= f.text_field :price, class:"col-xs-12 book_title" %>
            </div>
            <div class="col-md-4 field row" style="margin-top: 20px;">
                <%= f.label :在庫数 %>
                <%= f.text_field :stock, class:"col-xs-12 book_title" %>
            </div>
            <div class="col-md-4 actions row" style="margin-top: 20px; float: right;">
                <%= f.submit '商品情報を編集', class:"btn btn-primary btn-lg" %>
            </div>
        <% end %>
<!-- productのフォーム 終わり-->

        </div>

    </div>
</div>
</div>
