
<style>
p{
    text-align: center;
}




.p-box{
    border: 1px solid #000000;
}

.pi-box{
    border: 1px solid #000000;
    margin: 5px;
}


</style>

<%= render 'top/search',search: @search ,result: @result %>

<p>ここはTOPページ products#index</p>
<div class="container">
	<div class="row">
		<div class="img_top">
		    
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            
            
            
        </div>
        <div class="col-lg-9">
            <div class="row">
        		<div class="col-lg-1"></div>
        		<div class="col-lg-12">
            
        </div>
        	    </div>
        	</div>
        	
        	<div class="row">
        		<div class="col-lg-6">
        			
        			<div class="row">
        			    <% @news.each do |n| %>
        			        <li>
        			            <%= n.body %>
                                <%= n.created_at %>
                                <%= link_to '削除', news_path(n), method: :delete %>
                            </li>    
        			    <% end %>
        			</div>
        			<div class="row">
                        <div class="col-lg-6">
                             <% @products.each.with_index(1)  do |product, i| %>
                                <div class="p-box">
                                <div class="pi-box">ここにイメージがはいります</div>
                                商品名/<%= product.title %>
                                <br>
                                アーティスト名/<%= product.artist.artist_name %>
                                </div>
                            <% end %>
                        </div>
        			</div>
                </div>
            </div>
        </div>
    </div>
