<div class='container'>
<div class='row'>

    <div class='col-md-8 col-md-offset-2' style="margin-top: 150px; margin-bottom: 150px">
    <h1 style="margin-top: 10px; margin-bottom: 30px; text-align: center;">管理者ページ　新しい商品を追加</h1>

        <div class="form_list row" style="border-top: 1px solid #333333;">


<!-- productのフォーム -->
        <%= form_for(@product) do |f| %>

            <div class="field row">
                <%= f.label :商品名 %>
                <%= f.text_field :title, class:"col-xs-12 book_title" %>
            </div>

            <div class="field row">
                <%= f.label :ジャケット画像 %>
                <%= f.attachment_field :image, class:"user_image" %>
            </div>

            <div class="field row">
                <%= f.label :label %>
                <%= f.text_field :label, class:"col-xs-12 book_body" %>
            </div>

<!-- discのフォーム -->
            <%= f.fields_for :discs do |d| %>
                <div class="field row">
                    <%= d.label :ディスク名 %>
                    <%= d.text_field :disc_name, class:"col-xs-12 disc_name" %>
                </div>
            <% end %>
<!-- discのフォーム -->

            <div class="actions row">
                <%= f.submit 'Create product', class:"btn btn-primary col-xs-12" %>
            </div>
        <% end %>
<!-- productのフォーム -->



        </div>




    </div>
</div>
</div>
