
<div class='container'>
<div class='row'>

	<div class="search_form">
		<!-- 検索フォーム -->
	</div>

    <div class='col-lg-3' style="margin-top: 50px; margin-bottom: 150px">
    	<!-- カテゴリー一覧 -->
    	<!-- ランキング -->
    </div>

    <div class='col-lg-9' style="margin-top: 50px; margin-bottom: 150px">

<!-- 商品情報 始まり-->
        <div class="disc_list row" style="margin-top: 20px; border-top: 5px solid #333333;">

<!-- 商品情報左側 始まり-->
            <div class='col-md-4'>
                <div class="jacket_image" style="width: 100%; height: 270px; margin: 30px 0; background-color: lightblue;">
                	<div class="jacket_image_text" style="width: 100%; margin: 0 auto; text-align: center; padding-top: 10px" >
                	    <%= attachment_image_tag @product, :image, fallback: "no_image.jpg", size: "250x250"  %>
                	</div>
                </div>
            </div>
<!-- 商品情報左側 終わり-->

<!-- 商品情報右側 始まり-->
            <div class='col-md-8'>
	            	<div class="product_name" style="text-align: center">
	            		<h3>商品名： <%= @product.title %></h3>
	            	</div>

                    <div class='product_info_detail'>
		                <div class="product_info" style="width: 100%; margin-top: 20px; margin-left: 20px">
		                    <div class="field row artist record" style="width: 100%; margin-bottom: 10px;">
		                    	<div class='col-md-3 artist'>
		                    		アーティスト
		                    	</div>
		                    	<div class='col-md-9 artist'>
		                    		<%= @product.artist.artist_name %>
		                    	</div>
		                    </div>
		                    <div class="field row abel_name record" style="width: 100%; margin-bottom: 10px;">
		                    	<div class='col-md-3 label_name'>
		                    		レーベル
		                    	</div>
		                    	<div class='col-md-9 label_name'>
		                    		<%= @product.label %>
		                    	</div>
		                    </div>
		                    <div class="field row category record" style="width: 100%; margin-bottom: 10px;">
		                    	<div class='col-md-3 category'>
		                    		ジャンル
		                    	</div>
		                    	<div class='col-md-9 category'>
		                    		<%= @product.category.category_name %>
		                    	</div>
		                    </div>
		                </div>
	            	</div>

	                <div class="disc_button" style="width: 100%; margin-top: 20px; text-align: center;">
			                <button type="submit" name="example" value="ボタン" style="">
			                	<%= link_to "アーティストをお気に入りに追加", add_artist_path(@artist.id), method: :post %>
			                </button>
			        </div>
                <div class="line" style="width: 100%; margin: 10px 0; border-top: 3px solid #333333;"></div>

<!-- ディスク情報 始まり-->

	        <!-- track-info -->
	        <div class="track-list">
	            <h3 class="productContent">収録内容</h3>
	            <% @discs.each do |disc| %>
	            <ul>
	                <li>
	                    <h3 class="productContent"><%= disc.disc_name %></h3>
	                    <table class="table table-striped">
	                        <thead>
	                            <tr>
	                                <th style="width: 100px;">曲順</th>
	                                <th style="width: 100px;" colspan="4">収録曲</th>
	                            </tr>
	                        </thead>

	                        <tbody>
	                            <% disc.songs.each.with_index(1) do |song, i| %>
	                                <tr>
	                                    <td><%= song.song_sort %></td>
	                                    <td colspan="4"><%= song.song_name %></td>
	                                </tr>
	                            <% end %>
	                        </tbody>
	                    </table>
	                </li>
	            </ul>
	            <% end %>
        	</div>


		        <div class="disc_info" style="margin-top: 20px; margin-left: 20px;">

                    <div class="disc_button" style="text-align: center">
                        <div class='col-md-6' style="margin: 30px auto">
                            <%= link_to "編集", edit_product_path(@product.id), class:"btn-lg btn-success edit_product_#{@product.id}" %>
                        </div>
                        <div class='col-md-6' style="margin: 30px auto">
                            <%= link_to "削除", product_path(@product.id), "data-confirm" => "本当に消しますか?", class:"btn-lg btn-danger destroy_product_#{@product.id}", method: :delete %>
                        </div>
                    </div>

		        </div>
<!-- ディスク情報 終わり-->

            </div>
<!-- 商品情報右側 終わり-->

        </div>
<!-- 商品情報 終わり-->

<!-- 価格、在庫、買い物かご、お気に入り登録 -->
        <div class="form_list row" style="border-top: 5px solid #333333;">

            <div class="marchandise_info" style="margin: 0 20px; text-align: center;">
                <div class="col-lg-3 field row" style="margin-top: 30px; margin-bottom: 30px; margin-right: 10px; font-size: 16px">
                	価格 : <%= @product.price %>円
                </div>
                <div class="col-lg-3 field row" style="margin-top: 30px; margin-bottom: 30px; margin-right: 10px; font-size: 16px">
                	在庫数 : <%= @product.stock %>個
                </div>
                <div class="col-lg-6 field row" >
                        <%= form_for @cart_item, url: create_cart_item_path(@product.id, current_user.carts.ids), method: :post do |f| %>
                            <!-- 購入枚数制限 -->
                            <% if @product.stock > 10 %>
                                <div class='col-md-6'style="margin-top: 30px; margin-bottom: 30px; font-size: 16px">
                                <strong>最大10枚まで購入可能</strong>
	                                <%= f.select :quantity, [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5],[6, 6],[7, 7], [8, 8], [9, 9], [10, 10]], class: "form-control col-md-1", id: "number" %> 枚
	                            </div>
                                <div class='col-md-6'style="margin-top: 30px; margin-bottom: 30px; font-size: 16px">
	                                <%= f.submit "カートに入れる", class: "btn-lg btn-primary col-md-offset-2"%>
	                            </div>
                            <% elsif 10 >= @product.stock && @product.stock >= 1 %>
                                <% ar = {} %>
                                <% @product.stock.times do |i| %>
                                    <% i += 1 %>
                                    <% ar.store(i, i) %>
                                <% end %>
                                <div class='col-md-6'style="margin-top: 30px; margin-bottom: 30px; font-size: 16px">
	                                <span class="title-name">購入枚数<span class="partition"> </span></span>
	                                <%= f.select :quantity, options_for_select(ar), class: "form-control", id: "number" %> 枚
	                            </div>
	                            <div class='col-md-6' style="margin-top: 20px; margin-bottom: 20px; font-size: 16px">
                                	<%= f.submit "カートに入れる", class: "btn-lg btn-primary"%>
                                </div>
                            <% else %>
                                <%= link_to root_path do %>
                                    <p class="btn btn-primary col-md-offset-5">入荷準備中です。暫くお待ち下さい。</p>
                                <% end %>
                            <% end %>
                        <% end %>
                </div>
	        </div>
	    </div>


<!-- 口コミ -->
        <div class="review row" style="border-top: 5px solid #333333;">

        	<div class="col-lg-8">
    		<h2>口コミ</h2>

	            <% @reviews.each do |review| %>

	                    <div class="col-lg-5 field row">
	                    	<div class="review_user" style="margin: 10px;">
	                    		<h4 class="review_user">・投稿者　<%= review.user.last_name %></h3>
	                    	</div>
	                    </div>
	                    <div class="col-lg-7 field row">
	                    	<div class="review_user" style="margin: 10px;">
	       	                    <h4 class="review_subject">・件名　<%= review.subject %></h3>
	                    	</div>
	                    </div>
	                    <table class="table table-striped">
	                        <thead>
	                            <tr>
	                            </tr>
	                        </thead>

	                        <tbody>
	                                <tr>
	                                    <td colspan="2"><%= review.review %></td>
	                                </tr>
	                        </tbody>
	                    </table>

	            <% end %>

                <div class="disc_button" style="text-align: center">
		            <div class=''>
		            	<%= paginate @reviews, class: "paginate" %>
			        </div>
		        </div>
        	</div>

        	<div class="col-lg-4" style="margin-top: 20px; text-align: center;">
        	    <div class="review_button" style="width: 100%; margin-top: 40px;">
        			<%= link_to "口コミを書く",new_product_reviews_path(@product.id), class:"btn-warning btn-lg" %>
                </div>
        	</div>

        </div>
    </div>
</div>
</div>


