<div class='container'>
<div class='row'>

	<div class="search_form">
		<!-- 検索フォーム -->
	</div>

    <div class='col-lg-3' style="margin-top: 50px; margin-bottom: 150px">
    	<!-- カテゴリー一覧 -->
    	<!-- ランキング -->
    </div>

    <div class='col-lg-9' style="margin-top: 50px; margin-bottom: 150px">

<!-- 商品情報 始まり-->
        <div class="disc_list row" style="margin-top: 20px; border-top: 5px solid #333333;">

<!-- 商品情報左側 始まり-->
            <div class='col-md-4'>
                <div class="jacket_image" style="width: 100%; height: 270px; margin: 30px 0; background-color: lightblue;">
                	<div class="jacket_image_text" style="width: 100%; margin: 0 auto; text-align: center; padding-top: 10px" >
                	    <%= attachment_image_tag @product, :image, fallback: "no_image.jpg", size: "250x250"  %>
                	</div>
                </div>
            </div>
<!-- 商品情報左側 終わり-->

<!-- 商品情報右側 始まり-->
            <div class='col-md-8'>
	            	<div class="product_name" style="text-align: center">
	            		<h2>商品名 <%= @product.title %></h2>
	            	</div>

                    <div class='product_info_detail'>
		                <div class="product_info" style="width: 100%; margin-top: 20px; margin-left: 20px">
		                    <div class="field row artist record" style="width: 100%; margin-bottom: 10px;">
		                    	<div class='col-md-3 artist'>
		                    		アーティスト
		                    	</div>
		                    	<div class='col-md-9 artist'>
		                    		<%= @product.artist.artist_name %>
		                    	</div>
		                    </div>
		                    <div class="field row abel_name record" style="width: 100%; margin-bottom: 10px;">
		                    	<div class='col-md-3 label_name'>
		                    		レーベル
		                    	</div>
		                    	<div class='col-md-9 label_name'>
		                    		<%= @product.label %>
		                    	</div>
		                    </div>
		                    <div class="field row category record" style="width: 100%; margin-bottom: 10px;">
		                    	<div class='col-md-3 category'>
		                    		ジャンル
		                    	</div>
		                    	<div class='col-md-9 category'>
		                    		<%= @product.category.category_name %>
		                    	</div>
		                    </div>
		                </div>
	            	</div>

	                <div class="disc_button" style="width: 100%; margin-top: 20px; text-align: center;">
			                <button type="submit" name="example" value="ボタン" style="">
			                	<%= link_to "アーティストをお気に入りに追加", add_artist_path(artist_url), method: :post %>
			                </button>
			        </div>
                <div class="line" style="width: 100%; margin: 10px 0; border-top: 3px solid #333333;"></div>

<!-- ディスク情報 始まり-->

	        <!-- track-info -->
	        <div class="track-list">
	            <h3 class="productContent">収録内容</h3>
	            <% @discs.each do |disc| %>
	            <ul>
	                <li>
	                    <h3 class="productContent"><%= disc.disc_name %></h3>
	                    <table class="table table-striped">
	                        <thead>
	                            <tr>
	                                <th style="width: 100px;">No.</th>
	                                <th>収録曲</th>
	                            </tr>
	                        </thead>

	                        <tbody>
	                            <% disc.songs.each.with_index(1) do |song, i| %>
	                                <tr>
	                                    <td><%= i %></td>
	                                    <td colspan="2">
	                                        <%= song.song_name %>
	                                    </td>
	                                </tr>
	                            <% end %>
	                        </tbody>
	                    </table>
	                </li>
	            </ul>
	            <% end %>
        	</div>


		        <div class="disc_info" style="margin-top: 20px; margin-left: 20px;">

                    <div class="disc_button" style="text-align: center">
                        <div class='col-lg-6' style="width: 100px; margin: 20px 40px;">
                            <%= link_to "Edit", edit_product_path(@product.id), class:"btn-lg btn-success edit_product_#{@product.id}" %>
                        </div>
                        <div class='col-lg-6' style="width: 100px; margin: 20px 40px;">
                            <%= link_to "Destroy", product_path(@product.id), "data-confirm" => "本当に消しますか?", class:"btn-lg btn-danger destroy_product_#{@product.id}", method: :delete %>
                        </div>
                    </div>

		        </div>
<!-- ディスク情報 終わり-->

            </div>
<!-- 商品情報右側 終わり-->

        </div>
<!-- 商品情報 終わり-->

<!-- 価格、在庫、買い物かご、お気に入り登録 -->
        <div class="form_list row" style="border-top: 5px solid #333333;">

            <div class="marchandise_info" style="margin: 0 20px; text-align: center;">
                <div class="col-lg-3 field row" style="margin-top: 30px; margin-bottom: 30px; margin-right: 10px; font-size: 16px">
                	価格 : <%= @product.price %>円
                </div>
                <div class="col-lg-3 field row" style="margin-top: 30px; margin-bottom: 30px; margin-right: 10px; font-size: 16px">
                	在庫数 : <%= @product.stock %>個
                </div>
                <div class="col-lg-3 field row" style="margin-top: 30px; margin-bottom: 30px; margin-right: 10px; font-size: 16px">
			        <form>数量選択
						<select name="数量選択">
							<option value="1" selected>1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</form>
                </div>
                <div class="col-lg-3 field row" style="margin-top: 25px; margin-right: 10px; font-size: 20px">
                	<button type="submit" name="example" value="ボタン" style="">買い物かごに追加</button>
                </div>
	        </div>
	    </div>


<!-- 口コミ -->
        <div class="review row" style="border-top: 5px solid #333333;">

        	<div class="col-lg-8">
    		<h2>口コミ</h2>
            	<div class="review" style="width: 100%; margin: 20px;">
                    <div class="product_info" style="">
	                    <div class="col-lg-4 field row">
	                    	<div class="review_user" style="margin: 10px;">
	                    		・投稿者
	                    	</div>
	                    </div>
	                    <div class="col-lg-8 field row">
	                    	<div class="review_user" style="margin: 10px;">
	                    		・件名
	                    	</div>
	                    </div>
	                </div>

	                <div class="col-lg-12 line" style="width: 90%; margin-left: 20px; border-top: 1px solid #333333;">
	                </div>

		            <div class="col-lg-12 product_review" style="width: 100%; margin: 10px; border-bottom: 2px solid #333333;">
		            	<p>口コミ内容</p>
			        </div>
                </div>

                <div class="review_line" style="width: 100%; margin: 20px;">
                </div>

                    <div class="field row" style="margin: 10px 20px;">
                    </div>

            	<div class="review" style="width: 100%; margin: 20px;">
                    <div class="product_info" style="">
	                    <div class="col-lg-4 field row">
	                    	<div class="review_user" style="margin: 10px;">
	                    		・投稿者
	                    	</div>
	                    </div>
	                    <div class="col-lg-8 field row">
	                    	<div class="review_user" style="margin: 10px;">
	                    		・件名
	                    	</div>
	                    </div>
	                </div>

	                <div class="col-lg-12 line" style="width: 90%; margin-left: 20px; border-top: 1px solid #333333;">
	                </div>

		            <div class="col-lg-12 product_review" style="width: 100%; margin: 10px; border-bottom: 2px solid #333333;">
		            	<p>口コミ内容</p>
			        </div>
                </div>
                    <div class="field row" style="margin: 10px 20px;">
                    </div>

        	</div>

        	<div class="col-lg-4" style="margin-top: 20px; text-align: center;">
        		<div class="review_button" style="width: 100%; margin-top: 40px;">
        			<%= link_to "口コミを書く", new_review_path, class:"btn-warning btn-lg" %>
                </div>
        	</div>

                    <div class="disc_button" style="text-align: center">
			            <div class='col-lg-9'>
			                <button type="submit" name="example" value="ボタン" style="width: 100px; margin: 20px 40px;">1 2 3</button>
			            </div>
			        </div>
        </div>




    </div>
</div>
</div>
