<div class="container">
    <h1>Reviews#index</h1>
    <p>Find me in app/views/reviews/index.html.erb</p>
    
    
    <h1 class="text-center">口コミ管理</h1>
    <p class="text-center">※投稿を削除すると復元できません。投稿を削除する場合は内容ををご確認の上、削除をクリックして下さい</p>
    <br>
    <br>
    <p class="text-center">商品名</p>
    
    <select>
                <option>a</option>
                <option>b</option>
                <option>c</option>
              </select>
     
    <p class="text-center">投稿された口コミ一覧(最新10件表示)</p>
    
    <!--ここに、商品ごとに投稿された口コミを一覧で表示したい-->
    <!--jqueryを使ったりするのでちょっと大変かもしれないらしい--!>
    

    <!--もし、管理者だったらボタンを表示したい-->
    
    
</div>


<!-- 確認用に作成 -->
<div class='container'>
<div class='row'>

    <div class='col-md-8 col-md-offset-2'>
        <h2>レビュー一覧</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>件名</th>
                    <th>内容</th>
                    <th>id</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @reviews.each.with_index(1)  do |review, i| %>
                    <tr>
                        <td><%= i %></td>
                        <td><%= review.subject %></td>
                        <td><%= review.review %></td>
                        <td><%= review.id %></td>
                        <td>
                            <%= link_to "Destroy", review_path(review.id), class:"btn-mg btn-danger destroy_review_#{review.id}", method: :delete %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

</div>
</div>