<div class='container'>
<div class='row'>
     <h1 class="text-center">口コミ管理</h1>
    <p class="text-center">※投稿を削除すると復元できません。投稿を削除する場合は内容ををご確認の上、削除をクリックして下さい</p>
    <br>

    <div class='col-md-8 col-md-offset-2'>
        <h2>レビュー一覧</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>件名</th>
                    <th>内容</th>
                    <th>id</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @reviews.each.with_index(1)  do |review, i| %>
                    <tr>
                        <td><%= i %></td>
                        <td><%= review.subject %></td>
                        <td><%= review.review %></td>
                        <td><%= review.id %></td>
                        <td>
                            <%= link_to "Destroy", review_path(review.id), class:"btn-mg btn-danger destroy_review_#{review.id}", method: :delete %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

</div>

</div>