<div class='container'>
<div class='row'>
     <h1 class="text-center">口コミ管理</h1>
    <p class="text-center">※投稿を削除すると復元できません。投稿を削除する場合は内容ををご確認の上、削除をクリックして下さい</p>
    <br>

    <div class='col-md-8 col-md-offset-2'>
        <h2>レビュー一覧</h2>
        <div>
    
            <% @products.each do |p| %>
                <diV>
                    <%= p.title %> 
                    <% p.reviews.each do |review| %>
                    
                        <%= review.user.last_name %>
                        <%= review.subject %>
                        <%= review.review %>
                        <%= link_to "Destroy", review_path(review.id), class:"btn-mg btn-danger destroy_review_#{review.id}", method: :delete %>
                    
        
                <% end %>
                </div>
            <% end %>    
            </tbody>
        </table>
    </div>

</div>

</div>
<!--レイアウトは後ほど整えます-->